/* basic  */
:root {
  --warna_basic: #014b7c;
  --warna_bg: #fafafa;
  --warna_aksen: #3098dd;
  --waktuanim_dasar: 1.2s;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: var(--warna_bg);
  color: #000000;
  position: relative;
}
.hitam {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #2222224d;
  display: none;
  z-index: 500;
}

/* ==========Class Khusus Start========== */
/* Untuk judul dan paragraft */
.judul-default {
  font-size: 1.5rem;
  position: relative;
  margin-left: 24px;
  margin-bottom: 2rem;
}
.judul-default::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  display: block;
  height: 1em;
  border-radius: 4px;
  background: var(--warna_basic);
  margin-left: -24px;
}
.judul-bagian {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  animation: masuk-judul-bagian 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.judul-bagian span {
  color: var(--warna_basic);
}
.judul-bagian::before {
  content: "";
  display: block;
  transform: scaleX(0);
  padding-top: 1rem;
  border-top: 4px solid var(--warna_basic);
  animation: masuk-judul-bagian-garis 0.5s forwards ease-out;
  animation-delay: 0.8s;
}
.judul-bagian-p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  max-width: 50vw;
  opacity: 0;
  animation: masuk-judul-bagian-p 1s forwards ease-in-out;
  animation-delay: 0.5s;
}
.judul-bagian-p::after {
  content: "";
  display: block;
  transform: scaleX(0);
  padding-bottom: 1.2rem;
  border-bottom: 4px solid var(--warna_basic);
  animation: masuk-judul-bagian-p-garis 0.5s forwards ease-out;
  animation-delay: 0.8s;
}

/* Animasi */
@keyframes masuk-judul-bagian-garis {
  to {
    transform: scaleX(0.2);
  }
}
@keyframes masuk-judul-bagian-p-garis {
  to {
    transform: scaleX(0.17);
  }
}

@keyframes masuk-judul-bagian {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes masuk-judul-bagian-p {
  to {
    opacity: 1;
  }
}
/* Untuk Halamannya */
.halaman-default {
  display: flex;
  background-color: #fafafa;
  padding-block: 7rem;
  position: relative;
  min-height: 100vh;
  width: 90vw;
}

/* Untuk gambar */
.container-gambar {
  animation: masuk-scale-in var(--waktuanim_dasar) ease-out forwards;
  scale: 0;
  opacity: 0;
  animation-delay: 0.2s;
}
.container-bingkai {
  flex-shrink: 0;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  position: relative;
}
.container-bingkai-kotak {
  flex-shrink: 0;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  position: relative;
}
.container-bingkai:hover,
.container-bingkai-kotak:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
.container-bingkai-bulat {
  border: 1px solid black;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Animasi */
@keyframes masuk-scale-in {
  to {
    opacity: 1;
    transform: translate(0, 0);
    scale: 1;
  }
}

/* Untuk Tombol */
.khusus-tombol {
  font-weight: 400;
  width: 6.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: 0.25s ease-out;
}
.khusus-tombol:hover {
  transform: translateY(-1px);
}

/* element tambahan */
/*
.bungkus-aneh1 {
  z-index: 0;
  transform: translate(40vw, 30vh);
  position: absolute;
}
.bungkus-aneh2 {
  z-index: 0;
  transform: translate(0vw, -30vh);
  position: absolute;
}
.objek-aneh {
  opacity: 0;
  transform: scale(0);
  animation: masuk-objek-aneh 1s ease-out forwards;
  animation-delay: 1s;
}
.rotasi {
  animation: objek-aneh-jalan 120s linear infinite;
  animation-delay: 2.5s;
}
.inti {
  height: 1rem;
  width: 1rem;
  border-radius: 3px;
  background: rgba(48, 152, 221, 0.6);
  animation: objek-aneh-rotasi 30s linear infinite;
} */
/* 
@keyframes masuk-objek-aneh {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes objek-aneh-rotasi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes objek-aneh-jalan {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-60vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
*/

/* Objek */

.objek-1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.objek-1 img {
  width: 1.5rem;
  height: 1.5rem;
}

/* ==========Class Khusus End========== */

/* ==========Navigasi========== */
/* Navbar */
.navbar {
  animation: masuk var(--waktuanim_dasar) ease-out forwards;
  transform: translateY(-100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.35s ease-out;
}
.navbar-isi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
.navbar.discroll {
  background-color: rgba(240, 248, 255, 0.85);
  border-bottom: 1px solid rgba(216, 196, 182, 0.5);
  backdrop-filter: blur(8px); /* effek blur belakang */
}

/* Logo navbar */
.nav-logo {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.nav-logo img {
  width: 2.7rem;
  height: 2.7rem;
}
.nav-logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--warna_basic);
}

/* navigasi navbar */
.navbar-nav {
  z-index: 999;
}
.navbar-nav a {
  display: inline-block;
  color: #222222;
  font-size: 1.1rem;
  margin: 0 1rem;
}
/* Navigasi aktif */
.navbar-nav a:hover,
.navbar-nav a.aktif {
  color: var(--warna_basic);
}
/* garis bawah navigasi */
.navbar-nav a::after,
.navbar-nav a.aktif::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--warna_basic);
  transform: scaleX(0);
  transition: 0.2s linear;
}
/* garis bawah pas aktif */
.navbar-nav a.aktif::after {
  transform: scaleX(0.6);
}
.navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

/* icon menu */
#nav-menu {
  display: none;
}

/* =========Navigasi End========== */

/* ===========Sector============ */
/* section */
.sesi {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/* Sembunyikan konten */
.konten {
  display: none;
}
.konten:target {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =====Home===== */
/* home bagian 1 */
.halaman-home1 {
  justify-content: space-between;
  gap: 3.5rem;
  align-items: center;
}
/* Tulisan */
.home-tulisan {
  animation: masuk var(--waktuanim_dasar) ease-out forwards;
  transform: translateX(-100vw);
  opacity: 0;
}
.home-tulisan h1 {
  color: #005691;
  font-size: 3rem;
  line-height: 2.6rem;
  position: relative;
}
.home-tulisan h1 span {
  animation: ganti-warna 0.5s ease-out forwards;
  animation-delay: 1.3s;
}
.home-tulisan p {
  font-size: 1rem;
  color: #222222;
  padding-block: 1.4rem;
}
/* Gambar */
.halaman-home1 .container-bingkai-kotak {
  width: 30vw;
}
.home-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* tombol */
.home-tombol-1 {
  color: #fafafa;
  background: var(--warna_aksen);
}
.home-tombol-2 {
  color: black;
  background: var(--warna_bg);
  border: 1px solid var(--warna_aksen);
  margin-left: 0.8rem;
}
/* animasi */
@keyframes masuk {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes ganti-warna {
  to {
    color: #3098dd;
  }
}

/* home bagian 2 */
.halaman-home2 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 95%;
  padding-inline: 6%;
}
/* status hmti */
.highlight {
  display: grid;
  padding-top: 3rem;
  width: 100%;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.highlight .content {
  width: 100%;
  transition: 0.2s ease-out;
}
.highlight .content:hover {
  transform: translateY(-1px);
}
.home-foto-mini {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  border: 0.9px solid var(--warna_basic);
  padding: 1rem;
  gap: 0.8rem;
  height: 100%;
  width: 100%;
}
/* icon */
.home-foto-mini .container-bingkai-bulat {
  width: 3rem;
  background-color: white;
}
.home-foto-mini img {
  width: 2rem;
}
/* tulisan */
.home-foto-mini .judul {
  font-weight: 400;
}
.home-foto-mini .deskripsi {
  font-size: 0.85rem;
  font-weight: 300;
  text-align: center;
}

/* home bagian 3 */
/* judul */
.halaman-home3 {
  flex-direction: column;
}
.container-border {
  padding: 5px;
  background-color: var(--warna_bg);
  border-radius: 1em;
  border: 1px solid rgba(1, 75, 124, 0.5);
}
.container-content {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;
  scrollbar-color: var(--warna_basic) var(--warna_bg);
  scrollbar-width: thin;
}

.kotak-berita {
  display: flex;
  width: 17rem;
  gap: 1em;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-out;
  overflow: hidden;
  position: relative;
  height: 22rem;
}
.sampul-berita {
  aspect-ratio: 3/2;
  width: 100%;
  overflow: hidden;
}
.kotak-berita .jenis {
  border-radius: 20px;
  width: 4rem;
  height: 1.5rem;
  background-color: var(--warna_basic);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 5%;
  right: 5%;
}
.kotak-berita .jenis p {
  font-size: 0.8em;
  padding: 0;
  color: white;
  font-weight: 400;
}

.sampul-berita video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 35% 20%;
}

.sampul-berita .video1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 35% 20%;
}
.sampul-berita img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 35% 0%;
}
.kotak-berita h4 {
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 0.5em;
}
.kotak-berita p {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 0.5em;
}
.kotak-berita .tanggal {
  font-weight: 400;
  display: inline;
  top: 90%;
  position: absolute;
}

/* home bagian 4 */
/* foto bersama 2025 */
.halaman-home4 {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.halaman-home4 .judul-bagian {
  padding-bottom: 2rem;
}
.halaman-home4 .container-bingkai {
  aspect-ratio: 16/9;
  width: 86vw;
}
.halaman-home4 img {
  width: 100%;
  height: 100%;
}

/* =====Home End===== */

/* =====Album===== */
.konten .album {
  color: #222222;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 6%;
  padding-top: 7rem;
}
.album .album-tulisan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: 0.8s ease-out;
}
.konten .album-bingkai {
  padding-top: 2rem;
  color: #222222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.konten .album-bingkai .album-foto {
  opacity: 0;
  animation: masukAlbum 1.1s forwards ease-out;
  animation-delay: 1s;
}

.konten .album-bingkai .album-foto .album-isi {
  display: flex;
  gap: 0.5em;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-out;
  overflow: hidden;
}
.album-isian {
  aspect-ratio: 3 / 2;
  width: 100%;
  overflow: hidden;
}
.album-isian img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 0 70%;
}
.album-isian .khusus-1 {
  object-position: 40% 0%;
}

/* .album-tumbnail img:first-child:nth-last-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.album-tumbnail img:nth-child(3):nth-last-child(1) {
  grid-column: span 2;
} */

.album-isi .album-keterangan {
  padding: 1.5rem;
}
.album-isi .album-keterangan p {
  font-size: 0.7em;
  display: inline;
}

@keyframes masukAlbum {
  to {
    opacity: 1;
  }
}
.konten .album-bingkai .album-foto .album-isi:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

/* =====Album end=== */

/* =====Tentang kami===== */
.halaman-tentang1 {
  flex-direction: column;
}

.halaman-tentang1 .container-bingkai {
  margin-top: 2rem;
  width: 100%;
  height: 100vh;
}
/* =====Tentang end===== */

/* ==========Code Footer perlu di perbersih========= */
/* =====footer===== */
footer {
  color: #fafafa;
  margin-top: 3rem;
  position: absolute;
  top: max(100%, 100vh);
  width: 100%;
}
.footer-atas {
  border-top: 1px solid var(--warna_basic);
  background-color: var(--warna_aksen);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  padding: 6%;
  gap: 4rem;
}
.footer-atas .kontak,
.footer-atas .navigasi,
.footer-atas .media {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: baseline;
}

.footer-atas .kontak h4,
.footer-atas .navigasi h4,
.footer-atas .media h4 {
  width: 100%;
  border-bottom: 1px solid #fafafa;
  padding-bottom: 1.5rem;
  display: block;
}
.footer-atas .navigasi a {
  color: white;
  transition: 0.2s ease-out;
}
.footer-atas .navigasi a:hover {
  color: rgb(214, 214, 214);
}
.footer-atas .navigasi ul {
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
  list-style-position: inside;
}
.footer-bawah {
  border-top: 1px solid rgba(255, 255, 255, 0.616);
  background-color: var(--warna_basic);
  text-align: center;
}
.footer-bawah p {
  display: block;
  padding: 5vh;
}
.footer-atas .media2 {
  padding: 0;
  display: none;
  gap: 1.5rem;
  grid-column: span 2;
  justify-content: center;
}
.footer-atas .media2 img {
  width: 30px;
}

/* =========Sector end=========*/

/* =========Media Queries========== */

/* 900p */
@media (max-width: 900px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .footer-atas .media {
    display: none;
  }
  .footer-atas {
    grid-template-columns: 1fr 1fr;
  }
  .footer-atas .media2 {
    display: flex;
  }
}

/* Handphone */
@media (max-width: 500px) {
  html {
    font-size: 65%;
  }
  body.aktif {
    overflow: hidden;
  }

  /* ==========Class Khusus========== */
  .halaman-default {
    min-height: unset;
  }

  /* ==========Class Khusus End========== */

  /* Navbar */
  .navbar-nav {
    border-left: 2px solid rgba(0, 0, 0, 0.219);
    position: absolute;
    top: 0vh;
    right: -100%;
    background-color: white;
    height: 100vh;
    width: 20rem;
    transition: 0.5s ease-out;
  }
  .navbar-nav a {
    display: block;
    font-size: 1.5rem;
    margin: 2rem;
    color: #222222;
  }
  .hitam.aktif {
    display: block;
  }
  .navbar-nav.aktif {
    right: 0;
  }
  .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar-nav a:hover::after,
  .navbar-nav a.aktif::after {
    transform: scaleX(0);
  }

  /* Hamburger menu */
  #nav-menu {
    width: 2rem;
    display: inline-block;
  }

  /* sesi*/
  .sesi .konten:target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* =====home===== */
  /* home bagian 1 */
  .halaman-home1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .halaman-home1 .container-bingkai-kotak {
    width: 100%;
    margin-top: 1rem;
  }
  .halaman-home1 .khusus-tombol {
    width: 100%;
    height: 2.5;
    margin: 0.5rem 0;
  }
  /* home bagian 2 */
  /*  */
  /* status */
  .halaman-home2 .highlight {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* =====album===== */
  .konten .album-bingkai {
    grid-template-columns: 1fr;
  }
  .konten .album-bingkai .album-foto {
    transform-origin: 0 0;
  }
  @keyframes masuk-album-tulisan-garis-2 {
    to {
      transform: scaleX(0.25);
    }
  }

  /* =====Footer===== */
  .footer-atas .media {
    display: none;
  }
  .footer-atas {
    grid-template-columns: 1fr 1fr;
  }
  .footer-atas .media2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
