/* basic  */
:root {
  --warna_basic: #014b7c;
  --warna_bg: #fafafa;
  --warna_aksen: #3098dd;
  --waktuanim_dasar: 1.2s;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: var(--warna_bg);
  color: #000000;
  height: 2000px;
  position: relative;
}
.hitam {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #2222224d;
  display: none;
  z-index: 500;
}

/* ==========Class Khusus Start========== */
/* Untuk judul dan paragraft */
.judul-bagian {
  font-weight: 700;
  animation: masuk-judul-bagian 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.judul-bagian span {
  color: var(--warna_basic);
}
.judul-bagian::before {
  content: "";
  display: block;
  transform: scaleX(0);
  padding-top: 1rem;
  border-top: 4px solid var(--warna_basic);
  animation: masuk-judul-bagian-garis 0.5s forwards ease-out;
  animation-delay: 0.8s;
}
.judul-bagian-p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  max-width: 50vw;
  opacity: 0;
  animation: masuk-judul-bagian-p 1s forwards ease-in-out;
  animation-delay: 0.5s;
}
.judul-bagian-p::after {
  content: "";
  display: block;
  transform: scaleX(0);
  padding-bottom: 1.2rem;
  border-bottom: 4px solid var(--warna_basic);
  animation: masuk-judul-bagian-p-garis 0.5s forwards ease-out;
  animation-delay: 0.8s;
}

/* Animasi */
@keyframes masuk-judul-bagian-garis {
  to {
    transform: scaleX(0.25);
  }
}
@keyframes masuk-judul-bagian-p-garis {
  to {
    transform: scaleX(0.17);
  }
}

@keyframes masuk-judul-bagian {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes masuk-judul-bagian-p {
  to {
    opacity: 1;
  }
}
/* Untuk Halamannya */
.halaman-default {
  display: flex;
  align-items: center;
  padding-inline: 6%;
  background-color: #fafafa;
  padding-block: 7rem;
}

/* Untuk gambar */
.container-gambar {
  animation: masuk-scale-in var(--waktuanim_dasar) ease-out forwards;
  scale: 0;
  opacity: 0;
  animation-delay: 0.2s;
}
.container-bingkai {
  flex-shrink: 0;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  position: relative;
}
.container-bingkai-kotak {
  flex-shrink: 0;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  position: relative;
}
.container-bingkai:hover,
.container-bingkai-kotak:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
.container-bingkai-bulat {
  border: 1px solid black;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Animasi */
@keyframes masuk-scale-in {
  to {
    opacity: 1;
    transform: translate(0, 0);
    scale: 1;
  }
}

/* Untuk Tombol */
.khusus-tombol {
  font-weight: 400;
  width: 6rem;
  height: 2.3rem;
  font-size: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: 0.25s ease-out;
}
.khusus-tombol:hover {
  transform: translateY(-1px);
}

/* ==========Class Khusus End========== */

/* ==========Navigasi========== */
/* Navbar */
.navbar {
  animation: masuk var(--waktuanim_dasar) ease-out forwards;
  transform: translateY(-100vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.35s ease-out;
}
.navbar.discroll {
  background-color: rgba(240, 248, 255, 0.85);
  border-bottom: 1px solid rgba(216, 196, 182, 0.5);
  backdrop-filter: blur(8px); /* effek blur belakang */
}

/* Logo navbar */
.nav-logo {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.nav-logo img {
  width: 2.7rem;
  height: 2.7rem;
}
.nav-logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--warna_basic);
}

/* navigasi navbar */
.navbar-nav {
  z-index: 999;
}
.navbar-nav a {
  display: inline-block;
  color: #222222;
  font-size: 1.1rem;
  margin: 0 1rem;
}
/* Navigasi aktif */
.navbar-nav a:hover,
.navbar-nav a.aktif {
  color: var(--warna_basic);
}
/* garis bawah navigasi */
.navbar-nav a::after,
.navbar-nav a.aktif::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--warna_basic);
  transform: scaleX(0);
  transition: 0.2s linear;
}
/* garis bawah pas aktif */
.navbar-nav a.aktif::after {
  transform: scaleX(0.6);
}
.navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

/* icon menu */
#nav-menu {
  display: none;
}

/* =========Navigasi End========== */

/* ===========Sector============ */
/* section */
.sesi {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/* Sembunyikan konten */
.konten {
  display: none;
}
.konten:target {
  display: flex;
  flex-direction: column;
}

/* =====Home===== */
/* home bagian 1 */
.halaman-home1 {
  justify-content: space-between;
  gap: 3.5rem;
}
/* Tulisan */
.home-tulisan {
  animation: masuk var(--waktuanim_dasar) ease-out forwards;
  transform: translateX(-100vw);
  opacity: 0;
}
.home-tulisan h1 {
  color: #005691;
  font-size: 3rem;
  line-height: 2.6rem;
}
.home-tulisan h1 span {
  animation: ganti-warna 0.5s ease-out forwards;
  animation-delay: 1.3s;
}
.home-tulisan p {
  font-size: 1rem;
  color: #222222;
  padding-block: 1.4rem;
}
/* Gambar */
.halaman-home1 .container-bingkai {
  width: min(450px, 30vw);
}
.home-img1 {
  width: 100%;
}

/* tombol */
.home-tombol-1 {
  color: #fafafa;
  background: var(--warna_aksen);
}
.home-tombol-2 {
  color: black;
  background: var(--warna_bg);
  border: 1px solid var(--warna_aksen);
  margin-left: 0.8rem;
}
/* animasi */
@keyframes masuk {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes ganti-warna {
  to {
    color: #3098dd;
  }
}

/* home bagian 2 */
.halaman-home2 {
  background-color: white;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 3.5rem;
}
/* home bagian 3 */
/* foto */
.halaman-home3 {
  background-color: white;
  padding-top: 2rem;
}
/* status hmti */
.highlight {
  display: grid;
  width: 100%;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.highlight .content {
  width: 100%;
  transition: 0.2s ease-out;
}
.highlight .content:hover {
  transform: translateY(-1px);
}
.home-foto-mini {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--warna_basic);
  padding: 1rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.home-foto-mini .container-bingkai-bulat {
  width: 3rem;
  background-color: white;
}
.home-foto-mini img {
  width: 65%;
}

/* home bagian 4 */
/* foto bersama 2025 */
.halaman-home4 {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
.halaman-home4 .judul-bagian {
  padding-block: 1.5rem;
}
.halaman-home4 .container-bingkai {
  aspect-ratio: 16/9;
  width: 86vw;
}
.halaman-home4 iframe {
  width: 100%;
  height: 100%;
}

/* =====Home End===== */

/* =====Album===== */
.konten .album {
  color: #222222;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 6%;
  padding-top: 7rem;
}
.album .album-tulisan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: 0.8s ease-out;
}
.konten .album-bingkai {
  padding-top: 2rem;
  color: #222222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.konten .album-bingkai .album-foto {
  opacity: 0;
  animation: masukAlbum 1.1s forwards ease-out;
  animation-delay: 1s;
}
.konten .album-bingkai .album-foto .album-isi {
  display: flex;
  gap: 0.5em;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-out;
  overflow: hidden;
}
.album-isian {
  aspect-ratio: 3 / 2;
  width: 100%;
  overflow: hidden;
}
.album-isian img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 0 70%;
}
.album-isian .khusus-1 {
  object-position: 40% 0%;
}

/* .album-tumbnail img:first-child:nth-last-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.album-tumbnail img:nth-child(3):nth-last-child(1) {
  grid-column: span 2;
} */

.album-isi .album-keterangan {
  padding: 1.5rem;
}
.album-isi .album-keterangan p {
  font-size: 0.7em;
  display: inline;
}

@keyframes masukAlbum {
  to {
    opacity: 1;
  }
}
.konten .album-bingkai .album-foto .album-isi:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

/* Tentang kami */
#tentang {
  padding-top: 7.5rem;
  padding-inline: 6%;
  color: black;
}

/* sector end*/

/* =========Media Queries========== */

/* 900p */
@media (max-width: 900px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

/* Handphone */
@media (max-width: 500px) {
  html {
    font-size: 65%;
  }
  body.aktif {
    overflow: hidden;
  }

  .navbar .navbar-nav {
    border-left: 2px solid rgba(0, 0, 0, 0.219);
    position: absolute;
    top: 0vh;
    right: -100%;
    background-color: white;
    height: 100vh;
    width: 20rem;
    transition: 0.5s ease-out;
  }
  .navbar .navbar-nav a {
    display: block;
    font-size: 1.5rem;
    margin: 2rem;
    color: #222222;
  }
  .hitam.aktif {
    display: block;
  }
  .navbar .navbar-nav.aktif {
    right: 0;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after,
  .navbar .navbar-nav a.aktif::after {
    transform: scaleX(0);
  }
  #nav-menu {
    width: 2rem;
    display: inline-block;
  }

  /* sesi*/
  .sesi .konten:target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* home */
  .halaman-home1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-bingkai {
    width: min(450px, 90vw);
    margin-top: 1rem;
  }

  .halaman-home2 {
    width: 100%;
  }

  .halaman-home3 {
    width: 100%;
  }
  .halaman-home3 .highlight {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  /* album */
  .konten .album-bingkai {
    grid-template-columns: 1fr;
  }
  .konten .album-bingkai .album-foto {
    transform-origin: 0 0;
  }
  @keyframes masuk-album-tulisan-garis-2 {
    to {
      transform: scaleX(0.25);
    }
  }
}
